<p id="notice"><%= notice %></p>

<h1>Client Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Buyer name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Mobile number</th>
      <th>Purchasing manager name</th>
      <th>Address</th>
      <th>Nature of business</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_registrations.each do |client_registration| %>
      <tr>
        <td><%= client_registration.company_name %></td>
        <td><%= client_registration.buyer_name %></td>
        <td><%= client_registration.phone_number %></td>
        <td><%= client_registration.email_id %></td>
        <td><%= client_registration.mobile_number %></td>
        <td><%= client_registration.purchasing_manager_name %></td>
        <td><%= client_registration.address %></td>
        <td><%= client_registration.nature_of_business %></td>
        <td><%= client_registration.login_id %></td>
        <td><%= link_to 'Show', client_registration %></td>
        <td><%= link_to 'Edit', edit_client_registration_path(client_registration) %></td>
        <td><%= link_to 'Destroy', client_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Registration', new_client_registration_path %>
