
<p id="notice"><%= notice %></p>

<h1>Supplier Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Supplier name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Mobile number</th>
      <th>Manager name</th>
      <th>Address</th>
      <th>Nature of business</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_registrations.each do |supplier_registration| %>
      <tr>
        <td><%= supplier_registration.company_name %></td>
        <td><%= supplier_registration.supplier_name %></td>
        <td><%= supplier_registration.phone_number %></td>
        <td><%= supplier_registration.email_id %></td>
        <td><%= supplier_registration.mobile_number %></td>
        <td><%= supplier_registration.manager_name %></td>
        <td><%= supplier_registration.address %></td>
        <td><%= supplier_registration.nature_of_business %></td>
        <td><%= supplier_registration.login_id %></td>
        <td><%= link_to 'Show', supplier_registration %></td>
        <td><%= link_to 'Edit', edit_supplier_registration_path(supplier_registration) %></td>
        <td><%= link_to 'Destroy', supplier_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier Registration', new_supplier_registration_path %>
