<p id="notice"><%= notice %></p>

<h1>Enquiry Details Pages</h1>

<table>
  <thead>
    <tr>
      <th>Enquiry number</th>
      <th>Enquiry details</th>
      <th>Quotes and delivery schedules</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquiry_details_pages.each do |enquiry_details_page| %>
      <tr>
        <td><%= enquiry_details_page.enquiry_number %></td>
        <td><%= enquiry_details_page.enquiry_details %></td>
        <td><%= enquiry_details_page.quotes_and_delivery_schedules %></td>
        <td><%= link_to 'Show', enquiry_details_page %></td>
        <td><%= link_to 'Edit', edit_enquiry_details_page_path(enquiry_details_page) %></td>
        <td><%= link_to 'Destroy', enquiry_details_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enquiry Details Page', new_enquiry_details_page_path %>
