<p id="notice"><%= notice %></p>

<p>
  <strong>Enquiry number:</strong>
  <%= @enquiry_details_page.enquiry_number %>
</p>

<p>
  <strong>Enquiry details:</strong>
  <%= @enquiry_details_page.enquiry_details %>
</p>

<p>
  <strong>Quotes and delivery schedules:</strong>
  <%= @enquiry_details_page.quotes_and_delivery_schedules %>
</p>

<%= link_to 'Edit', edit_enquiry_details_page_path(@enquiry_details_page) %> |
<%= link_to 'Back', enquiry_details_pages_path %>
