<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Enquiry number</th>
      <th>Client name</th>
      <th>Enquiry for</th>
      <th>Color</th>
      <th>Material</th>
      <th>Gsm</th>
      <th>Quantity</th>
      <th>Sizes</th>
      <th>Printing</th>
      <th>Embroidery</th>
      <th>Place of printing</th>
      <th>Payment terms</th>
      <th>Client target price</th>
      <th>Client target delivery schedule</th>
      <th>Offered price</th>
      <th>Offered delivery schedule</th>
      <th>Owner of the etask</th>
      <th>Status of the enquiry</th>
      <th>Supplier name</th>
      <th>Sample readiness</th>
      <th>Sample delivery</th>
      <th>Advance received</th>
      <th>Status of the order</th>
      <th>Owner of the otask</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer_name %></td>
        <td><%= order.enquiry_number %></td>
        <td><%= order.client_name %></td>
        <td><%= order.enquiry_for %></td>
        <td><%= order.color %></td>
        <td><%= order.material %></td>
        <td><%= order.gsm %></td>
        <td><%= order.quantity %></td>
        <td><%= order.sizes %></td>
        <td><%= order.printing %></td>
        <td><%= order.embroidery %></td>
        <td><%= order.place_of_printing %></td>
        <td><%= order.payment_terms %></td>
        <td><%= order.client_target_price %></td>
        <td><%= order.client_target_delivery_schedule %></td>
        <td><%= order.offered_price %></td>
        <td><%= order.offered_delivery_schedule %></td>
        <td><%= order.owner_of_the_etask %></td>
        <td><%= order.status_of_the_enquiry %></td>
        <td><%= order.supplier_name %></td>
        <td><%= order.sample_readiness %></td>
        <td><%= order.sample_delivery %></td>
        <td><%= order.advance_received %></td>
        <td><%= order.status_of_the_order %></td>
        <td><%= order.owner_of_the_otask %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
